.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container > div {
    border-radius: 5px;
    padding: 50px;
    background-color:bisque;
    border: 2px solid blueviolet;
}

#bkgd {
    
}

h1 {
    color:darkgrey
}